.sortby-wrapper {
    background: floralwhite;
    padding: 8px 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
}

.sortby-option {
    padding: 5px 10px;
    color: grey;
    cursor: pointer;
}

.sortby-selected {
    color: lightseagreen;
}